{% extends "base.html" %}
{% load static %}

{% block Body_Classes %}
  	class=" checkout-page"
{% endblock Body_Classes %}

{% block Body %}

    <div class="master-wrapper">
     
    
    
    <div class="container">
        <div class="row">
            
            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span12">
                
                <div class="checkout-container">
                    <div class="row">
                    	<div class="span10 offset1">
                    	    
                    	    <!--  ==========  -->
							<!--  = Header =  -->
							<!--  ==========  -->
                    		<header>
                    		    <div class="row">
                    		    	<div class="span2">
                    		    		<a href="{% url 'Main:Home' %}"><img src="{% static 'images/logo-bw.png' %}" alt="Webmarket Logo" width="48" height="48" /></a>
                    		    	</div>
                    		    	<div class="span6">
                    		    	    <div class="center-align">
                    		    	        <h1><span class="light">تاييد</span> و پرداخت</h1>
                    		    	    </div>
                    		    	</div>
                    		    	<div class="span2">
                    		    	    <div class="right-align">
                    		    	    	<img src="{% static 'images/buttons/security.jpg' %}" alt="Security Sign" width="92" height="65" />
                    		    	    </div>
                    		    	</div>
                    		    </div>
                    		</header>
                    		
                    		<!--  ==========  -->
							<!--  = Steps =  -->
							<!--  ==========  -->
                    		<div class="checkout-steps">
                    		    <div class="clearfix">
                    		    	<div class="step done">
                    		    	    <div class="step-badge"><i class="icon-ok"></i></div>
                    		    	    <a href="">سبد خريد</a>
                    		    	</div>
                    		    	<div class="step done">
                                        <div class="step-badge"><i class="icon-ok"></i></div>
                                        <a href="">آدرس ارسال</a>
                                    </div>
                    		    	<div class="step done">
                    		    	    <div class="step-badge"><i class="icon-ok"></i></div>
                    		    	    <a href="">شيوه پرداخت</a>
                    		    	</div>
                    		    	<div class="step active">
                    		    	    <div class="step-badge">4</div>
                    		    	    تاييد و پرداخت
                    		    	</div>
                    		    </div>
                    		</div> <!-- /steps -->
                    		
                    		<!--  ==========  -->
							<!--  = Selected Items =  -->
							<!--  ==========  -->
							<table class="table table-items">
							    <thead>
							    	<tr>
							    		<th colspan="2">آيتم</th>
							    		<th><div class="align-center">سایز</div></th>
							    		<th><div class="align-center">رنگ</div></th>
							    		<th><div class="align-center">تعداد</div></th>
							    		<th><div class="align-right">قيمت</div></th>
							    	</tr>
							    </thead>
							    <tbody>
							        {% for Item in Items %}
										<tr>
											<td class="image"><img src="{{ Item.product.get_product_banner }}" alt="" width="124" height="124" /></td>
											<td class="desc">{{ Item.name }}</td>
											<td class="qty">
												{{Item.size}}					            	    
											</td>
											<td class="qty">
												{{Item.color}}					            	    
											</td>
											<td class="qty">
												{{Item.order_amount}}					            	    
											</td>
											<td class="price">
												{{ Item.price }}
											</td>
										</tr>
									{% endfor %}
									<tr>
							        	<td colspan="4" rowspan="4">
							        	    &nbsp;
							        	</td>
							        	<td class="stronger">هزينه ارسال :</td>
							        	<td class="stronger"><div class="align-right">{{ Order.total_price }}</div></td>
							        </tr>
							        <tr>
							        	<td class="stronger">جمع کل :</td>
							        	<td class="stronger"><div class="size-16 align-right">20,000</div></td>
							        </tr>
							    </tbody>
							</table>
							
							<p class="right-align">
							    <a href="{% url 'Main:Home' %}" class="btn btn-primary higher bold">تاييد و پرداخت</a>
							</p>
                    	</div>
                    </div>
                </div>
                
                
            </section> <!-- /main content -->
        
        </div>
    </div> <!-- /container -->
    
     
    
     
    </div> <!-- end of master-wrapper -->
    
{% endblock Body %}